.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
  margin: 16px;
}

.card {
  background-color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #000020;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid black;

  h2 {
    font-size: 24px;
    margin: 0 0 8px;
  }

  p {
    margin: 0;
    font-size: 16px;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;

    span {
      background-color: #4630eb;
      color: white;
      border-radius: 4px;
      padding: 4px 8px;
      margin: 0 8px 8px 0;
      font-size: 14px;
    }
  }
}
